/* Estilo Padrão */
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/*Area Conteiner*/

#container{
	margin: 0 auto;
	background: #e6e6e6;
}

/*area de cabeçalho*/
#area-cabecalho{
	padding: 0;
	text-align: center;
}

#logo{
	background-color: #f7b600;
	color: #fff;
}

#menu{
	background-color: #000;
	color: #fff;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	background: #4e4e4e;
}

#menu ul li{
	display: inline;
}

#menu ul li a{

}

#menu ul li a:hover{

}

