/* Estilo Padrão */
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/*Area Conteiner*/

#container{
	margin: 0 auto;
	
}

/*area de cabeçalho*/
#area-cabecalho{
	padding: 0;
	text-align: center;
}

#logo{
	background-color: #0098de;
	color: #fff;
	padding: 30px;
}

#menu{
	background:#4e4e4e;
	padding: 10px;
	margin-bottom: 0px;
}

/*Formatação do Menu*/
#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	background: #4e4e4e;
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	display: inline;
	padding: 0 1em;
	text-decoration: none;
	line-height: 1em;
	color: #FFF;
}

#menu ul li a:hover{
	color: #0098de;
}

/*area de conteudo*/

#area-principal{
	width: 980px;
	margin: 0 auto;
	
}

#postagem-principal{
	width: 735px;
	float: left;
	background: #CCC;
	margin: 5px 0 5px 0;
}

#postagem-lateral{
	width: 235px;
	float: right;
	background: #CCC;
	margin: 5px 0 5px 0;
}

/*area rodape*/

#area-rodape{
	clear: both;
	padding: 20px;
	background: #CCC;
	text-align: center;
}
